#body {
  margin: 0;
  font-family: agency-fb, sans-serif;
  // background-image: url("../img/bg-image.jpg");
}


/* Apex Header from: https://raddy.co.uk/blog/how-to-apex-legends-navigation-bar-using-html-css-scss-gsap/ */
.navheader {
  padding: 0 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .addr {
    font-size: 0.65rem;
  }
  background-color: #ae52d4;
  color: white;
  
}


.option-icon {
  font-size: 1rem;
}

.emphasis {
  color: #7b1fa2;
}